# 1. Data Loading and Cleaning

## Imports

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Loading Data

In [2]:
positions = pd.read_csv('../data/vessel_positions.csv')
characteristics = pd.read_csv('../data/vessel_characteristics.csv')

/var/folders/_h/908hqbz56jj3y35px7511bzr0000gn/T/ipykernel_69852/1822538655.py:1: DtypeWarning: Columns (20,21,25,26,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  positions = pd.read_csv('../data/vessel_positions.csv')
/var/folders/_h/908hqbz56jj3y35px7511bzr0000gn/T/ipykernel_69852/1822538655.py:2: DtypeWarning: Columns (42,47,72,81,154,163,210) have mixed types. Specify dtype option on import or set low_memory=False.
  characteristics = pd.read_csv('../data/vessel_characteristics.csv')

In [3]:
# View shape and preview

print("Positions:", positions.shape)
print("Characteristics:", characteristics.shape)

Positions: (71635, 54)
Characteristics: (14757, 212)

In [4]:
positions.head()

,index,imo,vessel_dwt,status_date_time,in_blackout,ais_speed,ais_draft,vessel_speed_ratio,ais_lat,ais_long,...,real_destination_country_name,real_destination_zone_id,real_destination_zone_name,vessel_operational_status,vessel_commodity_onboard,vessel_commodity_group_onboard,voyage_intake_mt,last_seen,during_cabotage_voyage,vessel_operational_status_group
0,0,1014149,11717,20/08/2024,0,0.0,5.1,NaN,34.3504,133.877,...,Japan,73.0,Far East,waiting_load,NaN,NaN,NaN,19/08/2024 23:56,1,at_port_waiting_load_group
1,1,1014163,39815,20/08/2024,0,0.0,6.1,NaN,-33.8022,137.052,...,China,73.0,Far East,at_port_load,Grain,Grain,27320.0,19/08/2024 23:56,0,in_port_loading_group
2,2,1014199,11722,20/08/2024,0,0.0,4.4,NaN,34.4042,133.425,...,Japan,73.0,Far East,waiting_load,NaN,NaN,NaN,19/08/2024 23:59,1,at_port_waiting_load_group
3,3,1014254,13465,20/08/2024,0,11.8,9.5,NaN,11.7398,109.489,...,Japan,73.0,Far East,at_sea_laden,Steels,Steels,12353.0,19/08/2024 23:59,1,at_sea_laden_group
4,4,1014591,39415,20/08/2024,0,11.0,10.6,NaN,16.4267,113.858,...,NaN,NaN,NaN,at_sea_laden,Steels,Steels,36350.0,19/08/2024 23:52,0,at_sea_laden_group

In [5]:
characteristics.head()

,id,imo,axs_notes_dry,name,type,subtype,ship_status,registered_owner,ship_owner,tc_operator,...,cranes_number,cranes_swl,cranes_outreach,cranes_position,hold_details,hatches_details,private_comments,private_tags,conversion_date,private_notes
0,83576,9122590,NaN,BERGE FUJI,Bulk carrier,Ore Carrier,DELIVERED,BERGE MAUNA KEA CO SA,BERGE BULK,BERGE BULK,...,0,0.0,0,NaN,NaN,NaN,0,NaN,NaN,NaN
1,94194,9237230,NaN,XH VOYAGER,Bulk carrier,Ore Carrier,DELIVERED,FOND MARINE PTE LTD,ZHOUSHAN XIEHAI SHIPPING,ZHOUSHAN XIEHAI SHIPPING,...,0,0.0,0,NaN,No. 1 : - cbm;No. 2 : - cbm;No. 3 : - cbm;No. ...,No. 1 : - m X - m;No. 2 : - m X - m;No. 3 : - ...,0,NaN,NaN,NaN
2,97323,9270567,NaN,CAPE TOUCAN,Bulk carrier,Ore Carrier,DELIVERED,POLGRYN SHIPPING INC,ZODIAC MARITIME,ZODIAC MARITIME,...,0,0.0,0,NaN,No. 1 : - cbm;No. 2 : - cbm;No. 3 : - cbm;No. ...,No. 1 : 16.91 m X 16 m;No. 2 : 16.91 m X 16 m;...,0,NaN,NaN,NaN
3,98092,9279393,NaN,WINNING EXCELLENCE,Bulk carrier,Ore Carrier,DELIVERED,WINNING EXCELLENCE SHIPPING PTE LTD,WINNING SHIPPING HK,WINNING SHIPPING HK,...,0,0.0,0,NaN,NaN,NaN,0,NaN,NaN,NaN
4,102164,9321275,NaN,BRASIL MARU,Bulk carrier,Ore Carrier,DELIVERED,MOL,MOL,MOL,...,0,0.0,0,NaN,NaN,NaN,0,NaN,NaN,NaN

In [6]:
positions.columns

Index(['index', 'imo', 'vessel_dwt', 'status_date_time', 'in_blackout',
       'ais_speed', 'ais_draft', 'vessel_speed_ratio', 'ais_lat', 'ais_long',
       'vessel_draft_status', 'zone_id', 'zone_name', 'zone_entry_time',
       'zone_out_time', 'updated_at', 'country_id', 'country_name', 'port_id',
       'port_name', 'port_entry_time', 'port_out_time',
       'operation_location_id', 'operation_location_name',
       'operation_location_type', 'operation_location_entry_time',
       'operation_location_out_time', 'waiting_zone_id', 'waiting_zone_name',
       'waiting_zone_entry_time', 'waiting_zone_out_time', 'ais_heading',
       'ais_eta', 'ais_destination_raw', 'ais_destination_normalized',
       'origin_port_id', 'origin_port_name', 'origin_country_id',
       'origin_country_name', 'origin_zone_id', 'origin_zone_name',
       'real_destination_port_id', 'real_destination_port_name',
       'real_destination_country_id', 'real_destination_country_name',
       'real_destination_zone_id', 'real_destination_zone_name',
       'vessel_operational_status', 'vessel_commodity_onboard',
       'vessel_commodity_group_onboard', 'voyage_intake_mt', 'last_seen',
       'during_cabotage_voyage', 'vessel_operational_status_group'],
      dtype='object')

## Feature Inspection and Observation of Erroneous Data Points

### Positions

In [7]:
for c in positions.columns:
    print(positions[c].value_counts())

index
0        1
47755    1
47761    1
47760    1
47759    1
        ..
23883    1
23884    1
23885    1
23886    1
71634    1
Name: count, Length: 71635, dtype: int64
imo
1014149    5
9287194    5
9286906    5
9286918    5
9286920    5
          ..
8811390    4
9953705    3
9966831    1
9885300    1
9986910    1
Name: count, Length: 14330, dtype: int64
vessel_dwt
58018     185
63301      90
57809      85
76596      85
324690     65
         ...
15          1
13417       1
93          1
142         1
82781       1
Name: count, Length: 10524, dtype: int64
status_date_time
24/08/2024    14329
22/08/2024    14327
23/08/2024    14327
20/08/2024    14326
21/08/2024    14326
Name: count, dtype: int64
in_blackout
0    68990
1     2645
Name: count, dtype: int64
ais_speed
0.0     23158
0.1      5351
11.0     3336
12.0     2522
10.0     2518
        ...
20.8        1
49.4        1
39.5        1
37.3        1
55.7        1
Name: count, Length: 289, dtype: int64
ais_draft
6.5     1591
7.0     1471
7.2     1433
7.1     1411
6.4     1178
        ...
2.7        1
2.2        1
1.4        1
3.1        1
19.2       1
Name: count, Length: 213, dtype: int64
vessel_speed_ratio
0.00     20117
0.69      1741
75.86     1010
0.71       856
68.97      799
         ...
46.58        1
8.90         1
96.08        1
39.72        1
41.33        1
Name: count, Length: 3077, dtype: int64
ais_lat
 0.0000     61
 33.8183    34
 34.7483    14
 30.0842    14
 35.9978    12
            ..
-1.1249      1
-6.6033      1
-35.6643     1
 7.4018      1
 6.8133      1
Name: count, Length: 55915, dtype: int64
ais_long
0.0000      60
118.4550    49
35.4908     38
119.5340    28
122.2730    21
            ..
55.5633      1
116.8100     1
101.6980     1
55.0715      1
98.3317      1
Name: count, Length: 49234, dtype: int64
vessel_draft_status
laden      42710
ballast    28871
Name: count, dtype: int64
zone_id
73.0       17204
72.0       12361
46.0        3776
69.0        2766
68.0        2456
319.0       2354
59.0        2180
71.0        1888
66.0        1817
64.0        1742
60.0        1709
58.0        1562
67.0        1456
55.0        1454
40.0        1424
61.0        1163
74.0        1069
65.0        1006
56.0         959
70.0         902
52.0         882
53.0         857
54.0         847
41.0         795
23676.0      752
23663.0      610
51.0         547
48.0         531
63.0         455
42.0         441
47.0         426
43.0         406
45.0         393
23668.0      357
57.0         332
49.0         332
23669.0      226
44.0         221
50.0         215
62.0         178
23679.0       49
23680.0       38
23670.0       34
Name: count, dtype: int64
zone_name
Far East                             17204
South East Asia                      12361
East Coast South America              3776
Indian Ocean                          2766
Arabian Gulf                          2456
South Atlantic                        2354
East Mediterranean                    2180
East Coast India                      1888
South Africa                          1817
North West Africa                     1742
Black Sea                             1709
West Mediterranean                    1562
East Africa                           1456
East Aussie                           1454
NoPac                                 1424
Antwerp Rotterdam Amsterdam Ghent     1163
Red Sea                               1069
South West Africa                     1006
West Aussie                            959
West Coast India                       902
USG                                    882
West Coast Central America             857
West Coast South America               847
Baltic                                 795
Mid-North Atlantic                     752
Central Atlantic                       610
East Coast U.S                         547
North Coast South America              531
Spain Atlantic                         455
Carribbean                             441
Great Lakes                            426
North Continent                        406
East Coast Central America             393
South Indian Ocean                     357
New Zealand                            332
Saint Lawrence                         332
Mid Pacific                            226
East Coast Canada                      221
United Kingdom Ireland                 215
French Atlantic                        178
North East Passage                      49
North West Passage                      38
South Pacific                           34
Name: count, dtype: int64
zone_entry_time
01/01/2013 00:04    45
01/01/2013 00:05    45
01/01/2013 00:03    40
05/08/2024 06:43    27
13/08/2024 18:45    25
                    ..
01/08/2024 03:47     1
02/08/2024 16:58     1
02/08/2024 15:39     1
12/08/2024 16:01     1
23/08/2024 11:41     1
Name: count, Length: 14944, dtype: int64
zone_out_time
07/10/2024 02:59    247
07/10/2024 03:09    229
07/10/2024 03:08    186
07/10/2024 02:58    184
07/10/2024 03:19    183
                   ...
20/08/2024 21:10      1
23/08/2024 02:50      1
20/08/2024 13:01      1
23/08/2024 01:19      1
29/08/2024 21:00      1
Name: count, Length: 12693, dtype: int64
updated_at
07/10/2024    8751
24/09/2024    6989
26/09/2024    5510
10/10/2024    1944
27/08/2024    1816
30/08/2024    1803
29/08/2024    1771
03/09/2024    1748
31/08/2024    1687
05/09/2024    1663
28/08/2024    1663
01/09/2024    1604
06/09/2024    1485
02/09/2024    1446
04/09/2024    1402
24/08/2024    1383
08/09/2024    1331
07/09/2024    1328
10/09/2024    1314
12/09/2024    1259
09/09/2024    1254
23/08/2024    1120
11/09/2024    1116
13/09/2024    1052
15/09/2024     953
14/09/2024     933
01/10/2024     916
27/09/2024     911
02/10/2024     904
16/09/2024     863
03/10/2024     844
20/09/2024     820
17/09/2024     818
05/10/2024     805
19/09/2024     792
06/10/2024     792
22/08/2024     757
28/09/2024     753
04/10/2024     736
22/09/2024     731
18/09/2024     718
25/09/2024     705
30/09/2024     680
21/09/2024     671
29/09/2024     618
23/09/2024     558
26/08/2024     510
25/08/2024     460
21/08/2024     440
09/10/2024     168
20/08/2024     147
08/10/2024     139
Name: count, dtype: int64
country_id
9605.0    6562
9715.0    1740
9594.0    1540
9584.0    1102
9751.0     920
          ...
9617.0       1
9757.0       1
9728.0       1
9720.0       1
9753.0       1
Name: count, Length: 138, dtype: int64
country_name
China                      6562
Indonesia                  1740
Brazil                     1540
Australia                  1102
USA                         920
                           ...
Cape Verde                    1
Samoa                         1
Saint Lucia                   1
American Samoa                1
Virgin Islands, British       1
Name: count, Length: 138, dtype: int64
port_id
351.0      765
350.0      602
2817.0     461
20836.0    315
2008.0     312
          ...
4064.0       1
2874.0       1
30998.0      1
31053.0      1
8817.0       1
Name: count, Length: 1261, dtype: int64
port_name
Ningbo (incl Zhoushan)    765
Shanghai                  602
Tianjin                   461
Caofeidian                315
Chittagong                312
                         ...
Stavanger                   1
Oristano                    1
Meldrum Bay                 1
Port Dolomite               1
Port Sultan Qaboos          1
Name: count, Length: 1261, dtype: int64
port_entry_time
45527.88119         9
45523.24943         8
45524.9442          8
45528.03428         7
45525.9855          7
                   ..
01/08/2024 10:45    1
06/08/2024 07:36    1
19/08/2024 09:51    1
21/08/2024 11:38    1
45529.14736         1
Name: count, Length: 8764, dtype: int64
port_out_time
45529.47156         8
45529.08981         7
45528.68035         7
45539.21434         6
45531.09686         6
                   ..
05/09/2024 12:55    1
06/09/2024 11:29    1
20/08/2024 01:45    1
31/08/2024 01:49    1
45531.14535         1
Name: count, Length: 8760, dtype: int64
operation_location_id
20812.0    363
23607.0    245
21647.0    230
20818.0    216
7946.0     203
          ...
34923.0      1
28378.0      1
28783.0      1
3892.0       1
26821.0      1
Name: count, Length: 3247, dtype: int64
operation_location_name
Outer Yangtze Estuary Anchorage North    363
Chittagong Anchorage                     245
Huanghua Anchorages                      230
Outer Zhoushan Anchorage & STS           216
Taboneo - Banjarmasin                    203
                                        ...
Suizhong Anchorage                         1
Yarra River Southern berths - import       1
Daebul Wharf - Unknown Silos               1
Vladivostok                                1
DBT Export Berth 703                       1
Name: count, Length: 3247, dtype: int64
operation_location_type
anchorage    12649
berth         8432
port          2022
shipyard      1393
waypoint        26
Name: count, dtype: int64
operation_location_entry_time
19/08/2024 04:29    10
19/08/2024 22:29     9
45522.64572          8
19/08/2024 23:09     8
45519.74929          8
                    ..
45524.78414          1
45517.0002           1
45520.06221          1
45519.79831          1
45527.6447           1
Name: count, Length: 13569, dtype: int64
operation_location_out_time
20/08/2024 02:59    11
20/08/2024 01:09    10
45528.92983          8
45529.22845          8
20/08/2024 03:09     8
                    ..
20/08/2024 10:12     1
45525.45852          1
23/08/2024 01:30     1
21/08/2024 19:23     1
45530.45059          1
Name: count, Length: 13563, dtype: int64
waiting_zone_id
20812.0    786
20830.0    444
20818.0    361
21647.0    314
21601.0    301
          ...
30469.0      1
39656.0      1
31708.0      1
38904.0      1
36768.0      1
Name: count, Length: 1008, dtype: int64
waiting_zone_name
Outer Yangtze Estuary Anchorage North      786
Outer Yangtze Estuary Anchorage South      444
Outer Zhoushan Anchorage & STS             361
Huanghua Anchorages                        314
Caofeidian Anchorage                       301
                                          ...
Outer Delaware Transhipment Anchorage 1      1
Tokushima Anchorage                          1
Chekka Anchorage                             1
New London Anchorage                         1
Tanjung Uncang Anchorage                     1
Name: count, Length: 1007, dtype: int64
waiting_zone_entry_time
19/08/2024 22:29    9
45519.74929         8
45524.083           8
19/08/2024 20:59    7
19/08/2024 23:29    7
                   ..
11/08/2024 04:58    1
12/08/2024 09:48    1
15/08/2024 02:49    1
15/08/2024 07:58    1
45527.94419         1
Name: count, Length: 12231, dtype: int64
waiting_zone_out_time
45526.70082         8
45528.88824         7
20/08/2024 01:39    7
45528.33939         7
20/08/2024 00:29    7
                   ..
25/08/2024 01:29    1
10/08/2024 08:39    1
15/08/2024 00:20    1
07/08/2024 06:09    1
45528.36741         1
Name: count, Length: 12378, dtype: int64
ais_heading
0.0      1715
511.0     765
270.0     367
269.0     337
359.0     321
         ...
153.0     127
157.0     126
158.0     118
463.0       1
413.0       1
Name: count, Length: 363, dtype: int64
ais_eta
24/08/2024 12:00    331
20/08/2024 12:00    273
23/08/2024 12:00    272
25/08/2024 12:00    262
26/08/2024 12:00    256
                   ...
17/08/2024 09:24      1
28/07/2024 20:15      1
22/08/2024 15:10      1
22/08/2024 23:57      1
09/10/2024 15:30      1
Name: count, Length: 4614, dtype: int64
ais_destination_raw
SG SIN           1247
SINGAPORE        1061
SGSIN             596
BR SSZ            456
AU PHE            424
                 ...
PATER NOSTER        1
JP MKX OFF          1
SEVAG               1
>SG PE>TWKHH        1
>JP MIZ B 18B       1
Name: count, Length: 7768, dtype: int64
ais_destination_normalized
Singapore      4422
Santos         1077
Zhoushan       1036
Qingdao         961
World Wide      820
               ...
Nepoui            1
Southampton       1
Rahja             1
Palua             1
Ranong            1
Name: count, Length: 1738, dtype: int64
origin_port_id
2817.0     1345
3851.0     1176
20836.0     967
1729.0      909
4597.0      687
           ...
1217.0        1
3180.0        1
23209.0       1
1381.0        1
1495.0        1
Name: count, Length: 1465, dtype: int64
origin_port_name
Tianjin         1345
Santos          1176
Caofeidian       967
Port Hedland     909
Huanghua         687
                ...
Weserport          1
Charlevoix         1
Ningbo             1
Manokwari          1
Lautoka            1
Name: count, Length: 1465, dtype: int64
origin_country_id
9605.0    15443
9594.0     5478
9715.0     4513
9584.0     4357
9751.0     3615
          ...
9617.0        1
9736.0        1
9713.0        1
9633.0        1
9677.0        1
Name: count, Length: 144, dtype: int64
origin_country_name
China                               15443
Brazil                               5478
Indonesia                            4513
Australia                            4357
USA                                  3615
                                    ...
Cape Verde                              1
Saint Vincent and the Grenadines        1
Reunion                                 1
French Guiana                           1
Martinique                              1
Name: count, Length: 144, dtype: int64
origin_zone_id
73.0       21108
72.0        8723
46.0        6913
60.0        2531
55.0        2435
71.0        2360
68.0        2275
59.0        2106
56.0        1922
41.0        1730
52.0        1678
64.0        1444
40.0        1440
70.0        1384
61.0        1281
54.0        1208
58.0        1034
51.0         983
66.0         947
65.0         890
48.0         797
49.0         605
67.0         552
74.0         550
43.0         477
53.0         445
47.0         419
63.0         376
57.0         311
45.0         264
50.0         229
44.0         221
42.0         196
62.0          67
69.0          34
23680.0       32
23679.0       13
23676.0        5
23669.0        2
Name: count, dtype: int64
origin_zone_name
Far East                             21108
South East Asia                       8723
East Coast South America              6913
Black Sea                             2531
East Aussie                           2435
East Coast India                      2360
Arabian Gulf                          2275
East Mediterranean                    2106
West Aussie                           1922
Baltic                                1730
USG                                   1678
North West Africa                     1444
NoPac                                 1440
West Coast India                      1384
Antwerp Rotterdam Amsterdam Ghent     1281
West Coast South America              1208
West Mediterranean                    1034
East Coast U.S                         983
South Africa                           947
South West Africa                      890
North Coast South America              797
Saint Lawrence                         605
East Africa                            552
Red Sea                                550
North Continent                        477
West Coast Central America             445
Great Lakes                            419
Spain Atlantic                         376
New Zealand                            311
East Coast Central America             264
United Kingdom Ireland                 229
East Coast Canada                      221
Carribbean                             196
French Atlantic                         67
Indian Ocean                            34
North West Passage                      32
North East Passage                      13
Mid-North Atlantic                       5
Mid Pacific                              2
Name: count, dtype: int64
real_destination_port_id
2817.0     1317
3851.0     1036
20836.0     907
1729.0      906
2008.0      685
           ...
1576.0        1
24690.0       1
953.0         1
7973.0        1
19968.0       1
Name: count, Length: 1443, dtype: int64
real_destination_port_name
Tianjin                           1317
Santos                            1036
Caofeidian                         907
Port Hedland                       906
Chittagong                         685
                                  ...
Devonport                            1
Tonganda Wood/Logs Export Area       1
Gioia Tauro                          1
Tsuneishi                            1
Caldera (Chile)                      1
Name: count, Length: 1443, dtype: int64
real_destination_country_id
9605.0     15876
9594.0      5511
9584.0      4066
9715.0      3626
9751.0      3447
           ...
9612.0         4
9720.0         3
31889.0        3
9596.0         3
9728.0         1
Name: count, Length: 144, dtype: int64
real_destination_country_name
China               15876
Brazil               5511
Australia            4066
Indonesia            3626
USA                  3447
                    ...
Comoros                 4
American Samoa          3
Christmas Island        3
Bahamas                 3
Saint Lucia             1
Name: count, Length: 144, dtype: int64
real_destination_zone_id
73.0       21544
72.0        7700
46.0        6556
59.0        2512
71.0        2408
68.0        2308
55.0        2239
60.0        1991
56.0        1827
61.0        1801
52.0        1705
70.0        1620
64.0        1541
58.0        1345
41.0        1268
40.0        1221
54.0        1025
65.0        1001
66.0         920
74.0         858
51.0         814
67.0         650
48.0         627
53.0         594
49.0         535
63.0         478
47.0         470
45.0         388
43.0         382
57.0         356
50.0         273
42.0         236
44.0         164
62.0          59
69.0          52
23679.0       40
23680.0       26
23670.0       15
23669.0       13
23676.0        5
Name: count, dtype: int64
real_destination_zone_name
Far East                             21544
South East Asia                       7700
East Coast South America              6556
East Mediterranean                    2512
East Coast India                      2408
Arabian Gulf                          2308
East Aussie                           2239
Black Sea                             1991
West Aussie                           1827
Antwerp Rotterdam Amsterdam Ghent     1801
USG                                   1705
West Coast India                      1620
North West Africa                     1541
West Mediterranean                    1345
Baltic                                1268
NoPac                                 1221
West Coast South America              1025
South West Africa                     1001
South Africa                           920
Red Sea                                858
East Coast U.S                         814
East Africa                            650
North Coast South America              627
West Coast Central America             594
Saint Lawrence                         535
Spain Atlantic                         478
Great Lakes                            470
East Coast Central America             388
North Continent                        382
New Zealand                            356
United Kingdom Ireland                 273
Carribbean                             236
East Coast Canada                      164
French Atlantic                         59
Indian Ocean                            52
North East Passage                      40
North West Passage                      26
South Pacific                           15
Mid Pacific                             13
Mid-North Atlantic                       5
Name: count, dtype: int64
vessel_operational_status
at_sea_laden               25793
at_sea_ballast             21266
at_port_discharging         5831
at_port_load                5341
waiting_load                4503
waiting_discharge           4222
waiting_at_anchorage        2824
in_shipyard                 1393
waiting_shipyard             154
bunkering_while_laden         95
bunkering_while_ballast       73

#### From the above inspection, we can see errenous entries in port_entry_time, operation_location_entry_time, operation_location_out_time, waiting_zone_entry_time, waiting_zone_out_time, ex formats:
float: 45524.9442 <br>
datetime: 01/08/2024 10:45

### Characteristics

In [8]:
characteristics.columns.tolist()

['id',
 'imo',
 'axs_notes_dry',
 'name',
 'type',
 'subtype',
 'ship_status',
 'registered_owner',
 'ship_owner',
 'tc_operator',
 'beneficial_owner',
 'flag',
 'built',
 'demolition_date',
 'dwt',
 'summer_fresh_water_dwt',
 'winter_salt_water_dwt',
 'tropical_salt_water_dwt',
 'tropical_fresh_water_dwt',
 'lbp',
 'loa',
 'beam',
 'draft',
 'winter_salt_water_draft',
 'tropical_salt_water_draft',
 'summer_fresh_water_draft',
 'tropical_fresh_water_draft',
 'depth',
 'tpc',
 'winter_salt_water_tpc',
 'tropical_salt_water_tpc',
 'summer_fresh_water_tpc',
 'tropical_fresh_water_tpc',
 'air_draft',
 'gt',
 'suez_gt',
 'panama_gt',
 'nt',
 'suez_nt',
 'panama_nt',
 'ldt',
 'shipyard',
 'second_shipyard',
 'hull_number',
 'design',
 'total_main_engines',
 'bow_thruster',
 'stern_thruster',
 'geared',
 'grabs_number',
 'grabs_capacity',
 'total_decks',
 'grain',
 'bale',
 'holds',
 'hatches',
 'active',
 'call_sign',
 'open_hatches',
 'lakes_fitted',
 'logs_fitted',
 'ahl_fitted',
 'co2_fitted',
 'keel_laying_date',
 'launching_date',
 'reported_date',
 'cancelled_date',
 'mmsi',
 'ice_class',
 'ballast_water',
 'shipbuilding_group',
 'technical_manager',
 'pool',
 'parent_shipowner',
 'doc_holder',
 'crew_manager',
 'ism_manager',
 'dual_fuel',
 'scrubbers',
 'bwts',
 'ordering_company',
 'demolition_country',
 'full_ballast_speed',
 'full_laden_speed',
 'eco_ballast_speed',
 'eco_laden_speed',
 'full_ballast_hsfo',
 'full_laden_hsfo',
 'eco_ballast_hsfo',
 'eco_laden_hsfo',
 'port_load_hsfo',
 'in_port_idle_hsfo',
 'full_ballast_ae_lsmgo',
 'full_laden_ae_lsmgo',
 'eco_ballast_ae_lsmgo',
 'eco_laden_ae_lsmgo',
 'port_load_ae_lsmgo',
 'in_port_idle_ae_lsmgo',
 'full_ballast_lsmgo',
 'full_laden_lsmgo',
 'eco_ballast_lsmgo',
 'eco_laden_lsmgo',
 'port_load_lsmgo',
 'in_port_idle_lsmgo',
 'fresh_water',
 'constants',
 'full_laden_vlsfo',
 'full_ballast_vlsfo',
 'eco_laden_vlsfo',
 'eco_ballast_vlsfo',
 'port_load_vlsfo',
 'in_port_idle_vlsfo',
 'eco_2_ballast_speed',
 'eco_2_laden_speed',
 'eco_2_ballast_hsfo',
 'eco_2_laden_hsfo',
 'eco_2_ballast_ae_lsmgo',
 'eco_2_laden_ae_lsmgo',
 'eco_2_ballast_lsmgo',
 'eco_2_laden_lsmgo',
 'eco_2_ballast_vlsfo',
 'eco_2_laden_vlsfo',
 'canal_hsfo',
 'canal_ae_lsmgo',
 'canal_lsmgo',
 'canal_vlsfo',
 'port_disch_hsfo',
 'port_disch_ae_lsmgo',
 'port_disch_lsmgo',
 'port_disch_vlsfo',
 'hsfo_tank',
 'lsmgo_tank',
 'vlsfo_tank',
 'hatches_type',
 'tts',
 'category',
 'market_segment',
 'update_date',
 'registered_owner_id',
 'registered_owner_flag',
 'registered_owner_flag_id',
 'ship_owner_id',
 'ship_owner_flag',
 'ship_owner_flag_id',
 'tc_operator_id',
 'tc_operator_flag',
 'tc_operator_flag_id',
 'beneficial_owner_id',
 'beneficial_owner_flag',
 'beneficial_owner_flag_id',
 'shipyard_id',
 'shipyard_flag',
 'shipyard_flag_id',
 'second_shipyard_id',
 'second_shipyard_flag',
 'second_shipyard_flag_id',
 'shipbuilding_group_id',
 'shipbuilding_group_flag',
 'shipbuilding_group_flag_id',
 'technical_manager_id',
 'technical_manager_flag',
 'technical_manager_flag_id',
 'pool_id',
 'pool_flag',
 'pool_flag_id',
 'parent_shipowner_id',
 'parent_shipowner_flag',
 'parent_shipowner_flag_id',
 'doc_holder_id',
 'doc_holder_flag',
 'doc_holder_flag_id',
 'crew_manager_id',
 'crew_manager_flag',
 'crew_manager_flag_id',
 'ism_manager_id',
 'ism_manager_flag',
 'ism_manager_flag_id',
 'ordering_company_id',
 'ordering_company_flag',
 'ordering_company_flag_id',
 'type_id',
 'subtype_id',
 'ship_status_id',
 'flag_id',
 'design_id',
 'category_id',
 'demolition_country_id',
 'market_segment_id',
 'exnames',
 'me_builder',
 'me_design',
 'me_model',
 'me_kw_total',
 'me_hp',
 'me_rpm',
 'ae_number',
 'last_dd_date',
 'next_dd_date',
 'last_ss_date',
 'next_ss_date',
 'class_society',
 'cranes_type',
 'cranes_number',
 'cranes_swl',
 'cranes_outreach',
 'cranes_position',
 'hold_details',
 'hatches_details',
 'private_comments',
 'private_tags',
 'conversion_date',
 'private_notes']

In [9]:
for c in characteristics.columns:
    print(characteristics[c].value_counts())

id
83576     1
203901    1
203905    1
203906    1
204691    1
         ..
150414    1
150415    1
150416    1
150417    1
218431    1
Name: count, Length: 14757, dtype: int64
imo
9122590    1
9942184    1
9942213    1
9942201    1
9959747    1
          ..
9842504    1
9842516    1
9842528    1
9842530    1
1018080    1
Name: count, Length: 14757, dtype: int64
axs_notes_dry
                                                                                                                                                                                                               117
Standard Vessel Type for calculations only                                                                                                                                                                     114
Coal Carrier                                                                                                                                                                                                    94
<br />\n                                                                                                                                                                                                        56
- Great Lakes Service -                                                                                                                                                                                         53
                                                                                                                                                                                                              ...
Cement Holes Fitted :<br />\n2 sets at each hatch of 700mm diam<br />\n                                                                                                                                          1
<br />\nVessel has 2 cement holes on each hatchcover with a diameter of 700.0 mm each<br />\n                                                                                                                    1
<br />\n - Vessel has 2 cement holes on each hatchcover with a <br />\n diameter of 447.8 MM each <br />\n - Vessel has 2 grain holes on each hatchcover with a <br />\n diameter of 847.8 MM each <br />\n      1
Semi Open Hatch/Box Shaped<br />\n Hatch Size<br />\n Hatch No.1 8.80 x 25.50 / 16.00<br />\n                                                                                                                    1
river-sea<br />\n                                                                                                                                                                                                1
Name: count, Length: 1527, dtype: int64
name
HANTONG SHI (TBA)        32
CSSC CHENGXI (TBA)       30
NEW DAYANG (TBA)         18
HENGLI DALIAN (TBA)      16
JIANGSU QINFENG (TBA)    15
                         ..
CASSIOPEIA OCEAN          1
ORMOS                     1
GREEN K-MAX 1             1
GREEN K-MAX 2             1
TALENT DORIS              1
Name: count, Length: 14286, dtype: int64
type
Bulk carrier    14741
Other               9
MPP                 7
Name: count, dtype: int64
subtype
Bulk Carrier                     13538
Cement Carrier                     364
Ore Carrier                        284
Wood Chips Carrier                 178
Self Discharging Bulk Carrier      162
Aggregates Carrier                 103
Wood Pulp Carrier                   60
Limestone Carrier                   45
Bulker - Great Lakes Only            7
General Cargo Ship                   6
Livestock Carrier                    6
Landing craft                        2
Trans Shipment Vessel                1
Multi-Purpose                        1
Name: count, dtype: int64
ship_status
DELIVERED    13215
ON ORDER      1398
OTHER          117
LAID UP         22
REPAIRING        5
Name: count, dtype: int64
registered_owner
UNDISCLOSED                          1060
OLDENDORFF CARRIERS                    60
RATU SHIPPING CO SA                    55
LUCRETIA SHIPPING SA                   52
U-MING MARINE TRANSPORT SINGAPORE      46
                                     ...
BLANE CORP                              1
MAMA STRENGTH INC                       1
AURELIA SHIPHOLDING LTD                 1
ABY IV LLC                              1
WEIHAI XIAO YANG LOGISTICS CO LTD       1
Name: count, Length: 9789, dtype: int64
ship_owner
UNDISCLOSED                   513
COSCO SHIPPING BULK CO        273
STAR BULK CARRIERS CORP       160
WISDOM MARINE LINES           141
PACIFIC BASIN SHIPPING        117
                             ...
YONG SHUN INVESTMENTS           1
CHINA MARINE SHIPPING           1
JONMARY SHIPPING                1
ATHENA SHIPPING CO              1
TIANJIN TONG YANG SHIPPING      1
Name: count, Length: 2776, dtype: int64
tc_operator
OLDENDORFF CARRIERS           606
UNCOMMITTED                   558
COSCO SHIPPING BULK CO        275
STAR BULK CARRIERS CORP       159
WISDOM MARINE LINES           136
                             ...
YALE GROUP                      1
JASMINE SHIPPING                1
FUJIAN HENGFENG SHIPPING        1
UNION SHIPPING-HK               1
TIANJIN TONG YANG SHIPPING      1
Name: count, Length: 2801, dtype: int64
beneficial_owner
UNDISCLOSED                        594
CHINA COSCO SHIPPING               391
CHINA MERCHANTS GROUP              181
CHINA DEVELOPMENT BANK             175
MITSUI & CO                        150
                                  ...
TANGSHAN YINGSHI SM                  1
NINGBO NINGDIAN SHIPPING             1
JIANGSU RONGSHENG SHIPPING           1
ZHEJIANG JIAHONG OCEAN SHIPPING      1
HONG KONG SANLI SHIPPING             1
Name: count, Length: 2454, dtype: int64
flag
Panama              2961
Liberia             2418
Marshall Islands    2165
China               1440
Hong Kong           1005
                    ...
Maldives               1
Gabon                  1
Ethiopia               1
Dominica               1
Bulgaria               1
Name: count, Length: 100, dtype: int64
built
0000-00-00    117
2025-01-10     71
2025-12-10     60
2025-06-10     59
2026-03-10     59
             ...
2017-07-05      1
2018-03-23      1
2016-06-13      1
2016-08-18      1
2018-12-21      1
Name: count, Length: 5702, dtype: int64
demolition_date
0000-00-00    14757
Name: count, dtype: int64
dwt
82000     204
63500     122
64000     116
210000     57
40000      48
         ...
81856       1
80979       1
81018       1
84769       1
9535        1
Name: count, Length: 9908, dtype: int64
summer_fresh_water_dwt
0         9609
93237       54
33224       52
181429      44
95721       41
          ...
63670        1
63614        1
60511        1
64275        1
21149        1
Name: count, Length: 1116, dtype: int64
winter_salt_water_dwt
0        6091
90730      53
59624      52
32263      52
79672      49
         ...
49440       1
48829       1
48996       1
48337       1
20461       1
Name: count, Length: 2470, dtype: int64
tropical_salt_water_dwt
0         6854
95744       53
34183       52
186109      44
186074      43
          ...
65197        1
61868        1
65742        1
62144        1
21841        1
Name: count, Length: 2136, dtype: int64
tropical_fresh_water_dwt
0         9969
95691       54
34164       52
185994      44
98180       41
          ...
64903        1
64825        1
67963        1
67953        1
22556        1
Name: count, Length: 1015, dtype: int64
lbp
217.00    572
185.60    533
222.00    519
195.00    465
182.00    464
         ...
176.97      1
248.74      1
181.75      1
179.75      1
175.54      1
Name: count, Length: 1097, dtype: int64
loa
189.990    1304
229.000    1289
199.900    1034
225.000     666
228.990     479
           ...
212.750       1
210.010       1
184.400       1
193.015       1
133.800       1
Name: count, Length: 1184, dtype: int64
beam
32.26    5090
45.00     901
32.24     896
30.00     703
50.00     549
         ...
31.40       1
28.35       1
29.99       1
26.94       1
16.98       1
Name: count, Length: 532, dtype: int64
draft
13.300    713
14.450    590
18.300    332
10.500    324
12.800    307
         ...
11.010      1
9.940       1
11.070      1
10.414      1
6.930       1
Name: count, Length: 1442, dtype: int64
winter_salt_water_draft
0.000     6099
12.530     404
14.130     297
13.020     284
14.150     257
          ...
10.750       1
11.080       1
10.900       1
9.480        1
12.451       1
Name: count, Length: 454, dtype: int64
tropical_salt_water_draft
0.00     6860
13.07     310
14.73     267
14.75     233
10.02     227
         ...
12.62       1
13.36       1
11.20       1
11.80       1
9.41        1
Name: count, Length: 441, dtype: int64
summer_fresh_water_draft
0.00     9562
14.76     250
10.04     219
14.78     219
13.09     171
         ...
18.50       1
9.79        1
13.04       1
10.23       1
10.62       1
Name: count, Length: 319, dtype: int64
tropical_fresh_water_draft
0.000     9968
10.240     204
15.080     184
15.060     184
13.360     153
          ...
14.690       1
13.970       1
14.891       1
13.300       1
12.500       1
Name: count, Length: 297, dtype: int64
depth
18.500    866
18.000    777
20.050    761
15.000    654
20.000    510
         ...
20.101      1
20.264      1
20.095      1
20.063      1
16.250      1
Name: count, Length: 390, dtype: int64
tpc
0.00      1017
58.80      410
61.40      377
62.30      304
72.00      301
          ...
60.48        1
62.15        1
64.76        1
160.00       1
22.60        1
Name: count, Length: 1429, dtype: int64
winter_salt_water_tpc
0.00     10720
58.70      198
48.50      110
39.50      104
61.40       97
         ...
48.85        1
49.65        1
48.70        1
65.20        1
35.76        1
Name: count, Length: 488, dtype: int64
tropical_salt_water_tpc
0.00     11232
58.90      176
61.50      129
48.70      113
39.70       95
         ...
51.90        1
53.80        1
50.58        1
51.30        1
36.06        1
Name: count, Length: 444, dtype: int64
summer_fresh_water_tpc
0.00     12676
61.50       66
58.90       66
48.70       64
57.40       52
         ...
50.90        1
69.90        1
49.80        1
53.56        1
36.07        1
Name: count, Length: 251, dtype: int64
tropical_fresh_water_tpc
0.00     12831
48.80       81
60.00       74
61.50       69
59.00       53
         ...
66.95        1
57.62        1
56.80        1
66.30        1
36.17        1
Name: count, Length: 220, dtype: int64
air_draft
0.00     14507
35.00       11
37.80       10
33.80        6
57.75        6
         ...
33.78        1
45.55        1
42.63        1
42.22        1
38.50        1
Name: count, Length: 159, dtype: int64
gt
44000    191
0        115
33044     96
32987     74
36000     70
        ...
29439      1
30719      1
29761      1
29970      1
5180       1
Name: count, Length: 4734, dtype: int64
suez_gt
0.0        10881
33919.9       39
92610.3       26
93198.9       24
34258.0       20
           ...
30507.0        1
39505.0        1
30987.0        1
30940.7        1
18179.0        1
Name: count, Length: 2122, dtype: int64
panama_gt
0.0        14460
30046.0        6
36414.0        6
27986.0        5
27319.0        5
           ...
10985.0        1
25793.0        1
32415.0        1
27390.0        1
14876.0        1
Name: count, Length: 231, dtype: int64
nt
0        436
21000    292
27000    199
19231    173
28000    157
        ...
18258      1
18152      1
18541      1
18522      1
3941       1
Name: count, Length: 3597, dtype: int64
suez_nt
0.0        10676
31285.0       27
87489.3       24
31013.0       21
19066.0       16
           ...
42418.5        1
42152.0        1
41713.8        1
39267.0        1
14521.0        1
Name: count, Length: 2422, dtype: int64
panama_nt
0.0        11565
27390.0       38
30213.0       23
27319.0       21
29666.0       18
           ...
35216.6        1
26828.0        1
26820.0        1
32037.0        1
14063.0        1
Name: count, Length: 1512, dtype: int64
ldt
14246    210
0        132
11893    126
11959    116
27889     57
        ...
10978      1
14364      1
13379      1
13439      1
3340       1
Name: count, Length: 6953, dtype: int64
shipyard
OSHIMA OSHIMA         601
TSUNEISHI CEBU        414
IMABARI MARUGAME      312
HANTONG SHI           297
TSUNEISHI ZHOUSHAN    280
                     ...
ZHEJIANG NINGHAI        1
YUKSEL MAKINA           1
YUEQING SHUNHANG        1
WENLING OCEAN           1
SEKO HI                 1
Name: count, Length: 612, dtype: int64
second_shipyard
HOLLAND    1
Name: count, dtype: int64
hull_number
(TBA)           562
NONE             68
1004              9
1006              9
1005              9
               ...
SS-288            1
SS-287            1
MC6001            1
YZJ2015-2099      1
3E4617            1
Name: count, Length: 10122, dtype: int64
design
SDARI Dolphin 64            535
SDARI Dolphin 57            448
TESS 82                     388
SDARI 82                    255
IS NEW I-STAR               245
                           ...
SHIN KURUSHIMA 33 (OHBS)      1
Sietas 96                     1
EWB 600                       1
CSDC BC180K (Jinhai)          1
Bodewes Trader 7575           1
Name: count, Length: 220, dtype: int64
total_main_engines
1    13223
0     1376
2      150
4        6
3        2
Name: count, dtype: int64
bow_thruster
Y    174
N     14
Name: count, dtype: int64
stern_thruster
Y    17
Name: count, dtype: int64
geared
Y    7576
N    6814
Name: count, dtype: int64
grabs_number
0    10824
4     3678
3      190
2       44
5       17
6        2
7        1
8        1
Name: count, dtype: int64
grabs_capacity
0.00     10902
12.00     2254
14.00      352
15.00      319
10.00      298
12.50      154
8.00       137
13.00      135
13.50       64
20.00       33
18.00       25
9.00        12
16.00       10
15.30        8
18.50        8
14.50        6
11.00        6
6.00         4
15.50        3
22.50        3
17.00        3
11.50        2
7.50         2
6.30         2
24.00        2
12.60        2
15.20        1
7.00         1
19.00        1
12.30        1
11.30        1
10.80        1
30.00        1
25.00        1
8.50         1
4.50         1
14.75        1
Name: count, dtype: int64
total_decks
1    9090
0    5630
2      37
Name: count, dtype: int64
grain
71634.0     354
97000.0     211
97250.0     116
78000.0     114
201243.0    113
           ...
70867.0       1
68023.0       1
72346.0       1
69384.0       1
14529.0       1
Name: count, Length: 3130, dtype: int64
bale
0         2529
90784      510
68200      422
200000     400
73680      256
          ...
59665        1
56666        1
59550        1
16987        1
20050        1
Name: count, Length: 1762, dtype: int64
holds
5     6908
7     3734
9     1806
0      854
4      414
6      413
2      275
3      190
1      114
8       43
10       3
12       2
13       1
Name: count, dtype: int64
hatches
5     6849
7     3722
9     1822
0      974
6      392
4      378
2      236
3      180
1      104
8       28
17      14
24      10
10       8
20       7
22       5
25       5
18       4
36       4
23       3
21       2
37       2
16       2
15       2
14       2
19       1
12       1
Name: count, dtype: int64
active
onMarket    14757
Name: count, dtype: int64
call_sign
(TBA)     5
3FYB9     2
YCXY2     2
V7IQ8     2
CQKO      2
         ..
D5TV5     1
D5QJ4     1
5BAB5     1
HPYZ      1
3E6923    1
Name: count, Length: 13174, dtype: int64
open_hatches
OHBS    641
BOX     364
Y       246
N         2
Name: count, dtype: int64
lakes_fitted
Y    269
N     96
Name: count, dtype: int64
logs_fitted
Y    1143
N     411
Name: count, dtype: int64
ahl_fitted
Y    3907
N      43
Name: count, dtype: int64
co2_fitted
Y    4385
N     863
Name: count, dtype: int64
keel_laying_date
0000-00-00    9779
2015-12-25      81
2015-12-28      50
2015-12-22      45
2015-12-29      41
              ...
2023-06-20       1
2022-10-31       1
2024-03-12       1
2022-11-11       1
2024-01-11       1
Name: count, Length: 2458, dtype: int64
launching_date
0000-00-00    8941
2014-12-23       9
2015-06-02       7
2016-01-15       6
2011-11-09       6
              ...
2015-11-16       1
2015-03-13       1
2016-01-31       1
2015-07-23       1
2024-09-18       1
Name: count, Length: 3861, dtype: int64
reported_date
2008-01-10    360
2007-01-10    254
0000-00-00    254
2007-12-10    214
2007-10-10    188
             ...
1975-12-10      1
1976-06-10      1
1976-01-10      1
1976-03-10      1
1990-10-10      1
Name: count, Length: 606, dtype: int64
cancelled_date
0000-00-00    14757
Name: count, dtype: int64
mmsi
0            1494
312663000       2
374518000       2
352003715       2
372060000       2
             ...
477333100       1
477131700       1
477153100       1
477153300       1
352002831       1
Name: count, Length: 13260, dtype: int64
ice_class
IC             373
Category II    283
IA              49
IB              49
N               15
IA Super         3
Name: count, dtype: int64
ballast_water
0         14742
57014         2
54946         1
66151         1
87195         1
66040         1
113223        1
58439         1
65435         1
22018         1
34837         1
22045         1
15377         1
15670         1
8650          1
Name: count, dtype: int64
shipbuilding_group
NIHON SHIPYARD                                      1736
TSUNEISHI SHIPBUILDING                              1074
CHINA STATE SHIPBUILDING CORP (CSSC)                1006
COSCO SHIPPING HEAVY INDUSTRY                        719
NAMURA SHIPBUILDING                                  566
CHINA SHIPBUILDING INDUSTRY CORP (CSIC)              483
HD KSOE                                              373
MITSUI E&S                                           361
YANGZIJIANG SHIPBUILDING GROUP                       351
SHIN KURUSHIMA DOCKYARD                              326
SANOYAS SHIPBUILDING                                 228
ZHEJIANG SHIPBUILDING GROUP                          211
CHINA MERCHANTS HEAVY INDUSTRY (CMHI)                171
SAIKI HEAVY INDUSTRIES                               143
SPP SHIPBUILDING                                     109
KAWASAKI HEAVY INDUSTRIES                            104
SINOTRANS & CSC GROUP                                 95
SHANDONG HUIYANG GROUP                                59
HNA GROUP                                             57
KANASASHI HI                                          49
ZHOUJI GROUP                                          43
SUMITOMO HEAVY INDUSTRIES                             38
NAIKAI ZOSEN CORPORATION                              37
JAPAN MARINE UNITED (JMU)                             33
JIANLONG GROUP                                        29
AVIC GROUP                                            26
BESTWAY MARINE & ENERGY TECHNOLOGY                    21
CSSC OFFSHORE & MARINE ENGINEERING GROUP (COMEC)      16
MITSUBISHI HEAVY INDUSTRY                             14
CHINA INTERNATIONAL MARINE CONTAINERS (CIMC)           9
ULJANIK                                                6
KUOK SINGAPORE                                         5
DAMEN SHIPYARDS GROUP                                  3
KEPPEL O&M                                             1
VEKA GROUP                                             1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
pool
TMA BULK    1
Name: count, dtype: int64
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
Series([], Name: count, dtype: int64)
dual_fuel
Ammonia Ready                    111
LNG Ready                         75
LNG                               71
Methanol                          61
Hybrid Battery                    27
Ammonia                           24
Methanol Ready                    22
Rotor Sails                       15
LNG,Ammonia Ready                 12
LPG                               10
Methanol,Ammonia Ready             8

#### From the above inspection, we can see unstructured axs_notes_dry and tts. 
if they're not meaningful, drop otherwise parse the meaningful information
#### We can also see that demolition_date, active, cancelled_date, vlsfo_tank,'private_comments','conversion_date'
have only one unique value so they can be dropped for the lack of variation
<br>
#### note: keel_laying_date and launching_date have 0000-00-00 as an entry
<br>

#### These columns can be dropped because they are empty:
'technical_manager','parent_shipowner','doc_holder','crew_manager','ism_manager', <br>
'technical_manager_id','technical_manager_flag','technical_manager_flag_id', 'parent_shipowner_id',<br>
'parent_shipowner_flag','parent_shipowner_flag_id','doc_holder_id','doc_holder_flag','doc_holder_flag_id',<br>
'crew_manager_id','crew_manager_flag','crew_manager_flag_id','ism_manager_id','ism_manager_flag',<br>
'ism_manager_flag_id', 'last_dd_date', 'cranes_position', 'private_tags', 'private_notes',<br>

####  These columns can be dropped because they are sparse: 
'pool', 'demolition_country', 'second_shipyard_flag', <br>
'second_shipyard_flag_id', 'pool_id', 'pool_flag','pool_flag_id', <br>
'demolition_country_id' (this seems like a duplicate feature), <br>
'market_segment_id', 

#### hold_details has unstructured data in the form: 
No. 1 : - cbm;No. 2 : 15333.2 cbm;No. 3 : 14553.1 cbm;No. 4 : 15333.3 cbm;No. 5 : 13404.6 cbm 
<br>
if it's a meaningful feature, extract the data as a list of numbers or nan for -, otherwise drop
<br>
#### hatches_details has unstructured data in the form: 
No. 1 : 18.9 m X 11 m;No. 2 : 18.9 m X 11 m;No. 3 : 18.9 m X 11 m                                                                      1
<br>
if it's a meaningful feature, extract the data as a 2D list of dimensions ex: [[18.9x11],[18.9x11],[18.9x11]]

## Handling of Sparse Features

In [10]:
# Function to show missing proportion per column
def missing_report(df):
    return (df.isnull().sum() / len(df)).sort_values(ascending=False)

In [11]:
print("---Missingness in vessel_positions---")
display(missing_report(positions))

---Missingness in vessel_positions---

port_entry_time                    0.769708
port_out_time                      0.769708
waiting_zone_out_time              0.682236
waiting_zone_entry_time            0.682236
waiting_zone_name                  0.682236
waiting_zone_id                    0.682236
port_id                            0.658044
country_id                         0.658044
port_name                          0.658044
country_name                       0.658044
operation_location_out_time        0.657681
operation_location_entry_time      0.657681
operation_location_type            0.657681
operation_location_id              0.657681
operation_location_name            0.657681
vessel_commodity_onboard           0.453312
vessel_commodity_group_onboard     0.453312
voyage_intake_mt                   0.403783
vessel_speed_ratio                 0.122147
real_destination_country_id        0.028869
real_destination_port_id           0.028869
real_destination_country_name      0.028869
real_destination_zone_id           0.028869
real_destination_zone_name         0.028869
real_destination_port_name         0.028869
ais_destination_normalized         0.025058
origin_port_id                     0.023006
origin_port_name                   0.023006
origin_country_id                  0.023006
origin_country_name                0.023006
origin_zone_id                     0.023006
origin_zone_name                   0.023006
zone_out_time                      0.007022
zone_entry_time                    0.006463
zone_name                          0.006463
zone_id                            0.006463
ais_destination_raw                0.001563
ais_heading                        0.000838
last_seen                          0.000754
vessel_operational_status          0.000754
vessel_operational_status_group    0.000754
updated_at                         0.000754
vessel_draft_status                0.000754
ais_long                           0.000014
ais_lat                            0.000014
ais_eta                            0.000000
imo                                0.000000
ais_draft                          0.000000
ais_speed                          0.000000
in_blackout                        0.000000
status_date_time                   0.000000
vessel_dwt                         0.000000
during_cabotage_voyage             0.000000
index                              0.000000
dtype: float64

In [12]:
#i'll drop columns with >65% missingness for sparsity
missing_thresh = 0.65
high_missing_cols = missing_report(positions)[lambda x: x > missing_thresh].index.tolist()
positions.drop(columns=high_missing_cols, inplace=True)

In [13]:
missing_report(positions)

vessel_commodity_group_onboard     0.453312
vessel_commodity_onboard           0.453312
voyage_intake_mt                   0.403783
vessel_speed_ratio                 0.122147
real_destination_country_id        0.028869
real_destination_zone_name         0.028869
real_destination_zone_id           0.028869
real_destination_country_name      0.028869
real_destination_port_id           0.028869
real_destination_port_name         0.028869
ais_destination_normalized         0.025058
origin_country_name                0.023006
origin_country_id                  0.023006
origin_port_name                   0.023006
origin_port_id                     0.023006
origin_zone_id                     0.023006
origin_zone_name                   0.023006
zone_out_time                      0.007022
zone_entry_time                    0.006463
zone_id                            0.006463
zone_name                          0.006463
ais_destination_raw                0.001563
ais_heading                        0.000838
vessel_operational_status          0.000754
last_seen                          0.000754
vessel_operational_status_group    0.000754
updated_at                         0.000754
vessel_draft_status                0.000754
ais_long                           0.000014
ais_lat                            0.000014
imo                                0.000000
ais_eta                            0.000000
ais_draft                          0.000000
ais_speed                          0.000000
in_blackout                        0.000000
status_date_time                   0.000000
vessel_dwt                         0.000000
during_cabotage_voyage             0.000000
index                              0.000000
dtype: float64

#### Since this is not an ML modeling task, blindly imputing features is unnecessary

In [14]:
print("---Missingness in vessel_characteristics---")
display(missing_report(characteristics))

---Missingness in vessel_characteristics---

private_notes           1.0
doc_holder_flag         1.0
parent_shipowner        1.0
technical_manager       1.0
parent_shipowner_id     1.0
                       ...
full_laden_ae_lsmgo     0.0
eco_ballast_ae_lsmgo    0.0
eco_laden_ae_lsmgo      0.0
port_load_ae_lsmgo      0.0
full_laden_vlsfo        0.0
Length: 212, dtype: float64

In [15]:
# Filter and display only columns with > 65% missingness
high_missing = missing_report(characteristics)
display(high_missing[high_missing > 0.65])

private_notes                1.000000
doc_holder_flag              1.000000
parent_shipowner             1.000000
technical_manager            1.000000
parent_shipowner_id          1.000000
parent_shipowner_flag        1.000000
parent_shipowner_flag_id     1.000000
doc_holder_id                1.000000
doc_holder_flag_id           1.000000
crew_manager                 1.000000
crew_manager_id              1.000000
crew_manager_flag            1.000000
crew_manager_flag_id         1.000000
ism_manager_id               1.000000
ism_manager_flag             1.000000
ism_manager_flag_id          1.000000
doc_holder                   1.000000
last_dd_date                 1.000000
ism_manager                  1.000000
private_tags                 1.000000
technical_manager_flag_id    1.000000
technical_manager_id         1.000000
cranes_position              1.000000
technical_manager_flag       1.000000
pool_flag                    0.999932
conversion_date              0.999932
pool_flag_id                 0.999932
second_shipyard              0.999932
pool_id                      0.999932
pool                         0.999932
second_shipyard_id           0.999932
second_shipyard_flag         0.999932
second_shipyard_flag_id      0.999932
demolition_country           0.999729
demolition_country_id        0.999729
stern_thruster               0.998848
bow_thruster                 0.987260
lakes_fitted                 0.975266
dual_fuel                    0.969642
ice_class                    0.947686
open_hatches                 0.915091
logs_fitted                  0.894694
scrubbers                    0.885681
axs_notes_dry                0.818459
ahl_fitted                   0.732330
bwts                         0.706377
next_dd_date                 0.704005
dtype: float64

In [16]:
high_missing_cols = high_missing[high_missing > 0.65].index.tolist()
characteristics.drop(columns = high_missing_cols, inplace = True)

In [17]:
# also drop the unstructured features like: axs_notes_dry , tts, hatches_details, hold_details
characteristics.drop(columns = ['hatches_details', 'hold_details', 'tts'], inplace = True)

### Fix Negative and Outlier Values

I intentionally **did not remove outliers** at this stage. 
Instead, I preserved all records, including extreme values in features such as:
- `ais_speed`
- `ais_draft`
- `latitude`, `longitude`

I will visually inspect these variables during the **Exploratory Data Analysis** phase using boxplots and histograms. 
This helps us better understand the spread and detect potential operational anomalies.

## Handling Remaining NaNs

In [18]:
positions[positions['ais_draft'].isnull() == True]

Empty DataFrame
Columns: [index, imo, vessel_dwt, status_date_time, in_blackout, ais_speed, ais_draft, vessel_speed_ratio, ais_lat, ais_long, vessel_draft_status, zone_id, zone_name, zone_entry_time, zone_out_time, updated_at, ais_heading, ais_eta, ais_destination_raw, ais_destination_normalized, origin_port_id, origin_port_name, origin_country_id, origin_country_name, origin_zone_id, origin_zone_name, real_destination_port_id, real_destination_port_name, real_destination_country_id, real_destination_country_name, real_destination_zone_id, real_destination_zone_name, vessel_operational_status, vessel_commodity_onboard, vessel_commodity_group_onboard, voyage_intake_mt, last_seen, during_cabotage_voyage, vessel_operational_status_group]
Index: []

[0 rows x 39 columns]

In [19]:
positions[positions['ais_speed'].isnull() == True]

Empty DataFrame
Columns: [index, imo, vessel_dwt, status_date_time, in_blackout, ais_speed, ais_draft, vessel_speed_ratio, ais_lat, ais_long, vessel_draft_status, zone_id, zone_name, zone_entry_time, zone_out_time, updated_at, ais_heading, ais_eta, ais_destination_raw, ais_destination_normalized, origin_port_id, origin_port_name, origin_country_id, origin_country_name, origin_zone_id, origin_zone_name, real_destination_port_id, real_destination_port_name, real_destination_country_id, real_destination_country_name, real_destination_zone_id, real_destination_zone_name, vessel_operational_status, vessel_commodity_onboard, vessel_commodity_group_onboard, voyage_intake_mt, last_seen, during_cabotage_voyage, vessel_operational_status_group]
Index: []

[0 rows x 39 columns]

In [20]:
print(positions['vessel_operational_status'].isnull().sum() / len(positions))

0.0007538214559921826

#### Since < 0.01% of vessel_operational_status are empty, we can safely drop them

In [21]:
positions.dropna(subset=['vessel_operational_status'], inplace=True)

### Step 1 Summary: Data Loading and Cleaning

- Loaded both datasets
- Inspected features and spotted erroneous data points
- Dropped timestamp columns with inconsistent formats
- Dropped low-variance and empty columns from `vessel_characteristics.csv` and `vessel_positions.csv`
- Removed missing vessel_operational_status data